In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('adult.data.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
df.shape

(32561, 15)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

### How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.

In [7]:
df['race'].value_counts()

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

### What is the average age of men?

In [10]:
df[df['sex'] == 'Male']['age'].mean().round(1)

39.4

### What is the percentage of people who have a Bachelor's degree?

In [11]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [14]:
round(df['education'].value_counts(normalize=True)['Bachelors']*100, 1)

16.4

### What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?

### What percentage of people without advanced education make more than 50K?

In [31]:
df['salary'].unique()

array(['<=50K', '>50K'], dtype=object)

In [18]:
mask_advanced_education = df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])

In [26]:
# with and without `Bachelors`, `Masters`, or `Doctorate`
higher_education = round((df[mask_advanced_education].shape[0] / df.shape[0])*100, 1)
lower_education = round((df[~mask_advanced_education].shape[0] / df.shape[0])*100, 1)

In [25]:
higher_education

23.0

In [27]:
lower_education

77.0

In [32]:
mask_is_rich = df['salary'] == '>50K'

In [33]:
# percentage with salary >50K
higher_education_rich = round((df[mask_advanced_education & mask_is_rich].shape[0] / df[mask_advanced_education].shape[0])*100, 1)
lower_education_rich = round((df[~mask_advanced_education & mask_is_rich].shape[0] / df[~mask_advanced_education].shape[0])*100, 1)

In [34]:
higher_education_rich

46.5

In [35]:
lower_education_rich

17.4

### What is the minimum number of hours a person works per week (hours-per-week feature)?

In [36]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [41]:
min_work_hours = df['hours-per-week'].min()
min_work_hours

1

### What percentage of the people who work the minimum number of hours per week have a salary of >50K?

In [54]:
df['hours-per-week'].value_counts()[min_work_hours]

20

In [60]:
num_min_workers = df['hours-per-week'].value_counts()[min_work_hours]

rich_percentage = round((df[(df['hours-per-week'] == min_work_hours) & mask_is_rich].shape[0] / num_min_workers) * 100, 1)

In [61]:
num_min_workers

20

In [62]:
rich_percentage

10.0

In [63]:
df[(df['hours-per-week'] == min_work_hours) & mask_is_rich]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
189,58,State-gov,109567,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,1,United-States,>50K
20072,65,?,76043,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,1,United-States,>50K

### What country has the highest percentage of people that earn >50K?

In [65]:
hab_per_country = df['native-country'].value_counts()

In [67]:
rich_per_country = df[mask_is_rich]['native-country'].value_counts()

In [70]:
pct_rich_per_country = round((rich_per_country / hab_per_country) * 100, 1).sort_values(ascending=False)

In [77]:
highest_earning_country = pct_rich_per_country.index[0]
highest_earning_country_percentage = pct_rich_per_country.iloc[0]

In [78]:
highest_earning_country

'Iran'

In [79]:
highest_earning_country_percentage

41.9

### Identify the most popular occupation for those who earn >50K in India.

In [80]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [81]:
mask_India = df['native-country'] == 'India'

In [87]:
df[mask_India & mask_is_rich]['occupation'].value_counts(ascending=False).index[0]

'Prof-specialty'